<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <h1>New Blog
    <form action="/blogs" method="post">
        <label for="author">Author:</label>
        <input type="text" name="author" id="author">
        <label for="content">Content:</label>
        <textarea name="content" id="comment"></textarea>
        <button type="submit">Create</button>
    </form></h1>
</body>
</html>