<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Ujjwal.ejs</h1>
    <h1><%= 34+43+76+23 %></h1>
    <% for(let item of arr) { %>
        <h1><%= item %></h1>
    <% } %>
    <% if (false) { %>
        <h1>hellooo</h1>
    <% } else { %>
        <h1>ggggg</h1>
    <% } %>
</body>
</html>