<%- include('../partials/header') %>
        <h1>Blog List</h1>
        <div class="text-right">
            <a href="/blogs/new" class="add-blog-btn">+ Add New Blog</a>
        </div>
        <ul class="blog-list">
            <% blog.forEach(blog => { %>
                <li class="blog-item">
                    <h2><%= blog.title %></h2>
                    <p><%= blog.content %></p>
                </li>
            <% }) %>
        </ul>
<%- include('../partials/footer') %>